<!DOCTYPE html>
<html>
<head>
  <title>Lista de Emails</title>
</head>
<body>
  <h1>Lista de Emails</h1>
  <ul>
    <% emails.forEach(function(email) { %>
      <li><%= email %></li>
    <% }); %>
  </ul>
</body>
</html>