<%- include('partials/header.ejs', { pageTitle: 'ExistindoNews | DONATE' , styleSheet: 'donate' }) %>
<main>
	<section>
		<div class="pix">
			<h1>Faça um Pix</h1>
			<div class="img">
				<img src="images/pix.jpeg" alt="">
			</div>
			<p>Obrigado por sua contribuição!!</p>
			
		</div>
	</section>
</main>
<%- include('partials/footer.ejs') %>
