<%- include('partials/header.ejs', { pageTitle: 'ExistindoNews | Criar Noticia' , styleSheet: 'form-news' }) %>
<main>
	<section>
		<h2>Parabéns sua conta foi ativada com sucesso!</h2>
		<a href="">Ir para o inicio</a>
	</section>
</main>
<%- include('partials/footer.ejs') %>
