@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
	--color-theme-soft: #e70808;
	--color-theme: #bb0d0d;
	--text-main: #000000;
	--text-sub: #3b3b3b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	cursor: default;
	font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border: none;
	transition: 300ms ease-in-out;
}

input,
textarea {
	cursor: text;
}

button,
button *,
a,
a *,
input[type="file"],
input[type="date"],
input[type=radio],
label {
	cursor: pointer;
}

body {
	// background: #e9e9e9;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background: #ffffff;
	}

	&::-webkit-scrollbar-thumb {
		background: #000000;
	}

	.loader {
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		display: none;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		background: #ffffff5e;
	
		.custom-loader {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			padding: 1px;
			background: conic-gradient(#0000 10%, var(--color-theme)) content-box;
			-webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
				radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 8px));
			-webkit-mask-composite: destination-in;
			mask-composite: intersect;
			animation: s4 1s infinite steps(10);
		}
	}
	
	@keyframes s4 {
		to {
			transform: rotate(1turn)
		}
	}

	main{
		min-height: 100vh;
		height: auto;
		padding-bottom: 70px;
	}
}